<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Powered by Ricardo Hernández López</a>
        <a class="navbar-brand">rherl23@gmail.com</a>
        <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
</nav>
<div class="container-fluid p-3">
    <router-outlet></router-outlet>
</div>
    
