<p-dynamicdialog>
	<p-dialog-content>
		<div class="scroll-modal pt-3">
			<!-- User form -->
			<form [formGroup]="frmUser">

				<div class="grid p-fluid  p-formgrid ">
					<div class="sm:col-12 md:col-6 lg:col-4 xl:col-4">
						<label for="firstName">* First Name</label>
						<div class="grid p-fluid  p-formgrid ">
							<div class="sm:col-12 md:col-10 lg:col-10 xl:col-10">
								<input type="text" pInputText autocomplete="off" autofocus="on" maxlength="100" minlength="5" formControlName="firstName" required />
							</div>
							<div class="sm:col-12 md:col-2 lg:col-2 xl:col-2">
								<button type="button" pButton autofocus="off" pRipple icon="pi pi-search" (click)="close()" label="" class="p-button-outlined"></button>
							</div>
						</div>
					</div>
					<div class="sm:col-12 md:col-6 lg:col-4 xl:col-4">
						<label>* Last Name</label>
						<input type="text" pInputText autocomplete="off"  maxlength="100" formControlName="lastName" />
					</div>
					<div class="sm:col-12 md:col-6 lg:col-4 xl:col-4">
						<label>M. Last Name</label>
						<input type="text" pInputText autocomplete="off"  maxlength="100" formControlName="mLastName" />
					</div>
					
				</div>
			</form>

		
		</div>
		<p-divider></p-divider>
	</p-dialog-content>

	<p-dialog-footer class="flex justify-content-end flex-wrap card-container green-container">
		<button type="button" pButton pRipple [disabled]="(frmUser.valid==false ) || doingRequest==true" icon="pi pi-check" (click)="save()" label="Guardar" class="p-button-primary mr-3">
			<p-progressSpinner class="buttonSpinner" *ngIf="doingRequest==true"></p-progressSpinner>
		</button>
		<button type="button" pButton pRipple icon="pi pi-times" (click)="close()" label="Cancelar" class="p-button-outlined"></button>
	</p-dialog-footer>
</p-dynamicdialog>