//EDIT
.role-description {
    height: 15rem;
}
.bg-user {
    background-color: #e3f2fd;
}
.p-dialog-md {
    min-width: 58rem;
}

.imgProfileDummy {
    min-height: 4.25rem;
    max-height: 9.5rem;
    height: 9.5rem;
    min-width: 5rem;
    max-width: 11rem;
    width: auto;
    object-fit: contain;
}
.p-dialog-md {
    min-width: 65rem !important;
    min-height: 27rem !important;
}

.user-container{
    height: 20rem;
}








//DETAIL
.role-description {
    height: 15rem;
}
.bg-user {
    background-color: #e3f2fd;
}
.p-dialog-md {
    min-width: 58rem;
}

.imgProfileDummy {
    min-height: 4.25rem;
    max-height: 9.5rem;
    height: 9.5rem;
    min-width: 5rem;
    max-width: 11rem;
    width: auto;
    object-fit: contain;
}
.p-dialog-md {
    min-width: 65rem !important;
    min-height: 27rem !important;
}

.user-container{
    height: 20rem;
}






//ADD
.role-description {
    height: 15rem;
}
.bg-user {
    background-color: #e3f2fd;
}
.p-dialog-md {
    min-width: 58rem;
}

.imgProfileDummy {
    min-height: 4.25rem;
    max-height: 9.5rem;
    height: 9.5rem;
    min-width: 5rem;
    max-width: 11rem;
    width: auto;
    object-fit: contain;
}
.p-dialog-md {
    min-width: 65rem !important;
    min-height: 27rem !important;
}

.user-container{
    height: 20rem;
}