/* You can add global styles to this file, and also import other style files */
@import "./my-theme/layout.scss";
@import "./my-theme/general.scss";
@import "./my-theme/breadcum.scss";
@import "./my-theme/table.scss";
@import "./my-theme/tabs.scss";
// @import "./my-theme/dropdown.scss";
@import "./my-theme/dialog.scss";
@import "./my-theme/input.scss";
@import "./my-theme/button.scss";



.p-selectbutton .p-button {
    background: transparent;
    color: #333333;
    min-width: 4rem;
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background: transparent;
    color: #333333;
}

p-dialog-footer {
    padding: .5rem;
    padding-right: 0px;
}

.p-dialog .p-dialog-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.p-dialog .p-dialog-header {
    padding-left: 1.5rem;
}


a {
    text-decoration: none;
}

a.decoration {
    text-decoration: underline;
}

.normal-cursor {
    cursor: auto !important;
}

.layout-topbar .layout-topbar-wrapper .layout-topbar-right .profile-item>ul>li.profile-submenu-header {
    background-image: none;
    background-color: #ffffff;
}



.p-inputtext,
.p-inputgroup,
.p-button,
.p-button.p-button-icon-only,
.p-paginator .p-dropdown,
.p-buttonset .p-button {
    height: 2.5rem;
}
.p-fluid .p-dropdown .p-dropdown-label{
    padding-top: 0.5rem;
}

.p-datatable .p-datatable-tbody>tr.p-highlight>td>p-button>button fa-icon {
    background-color: #ffffff;
    color: #bcbdbf;
}

.p-datatable .p-datatable-tbody>tr.p-highlight>td>p-button>button:hover {
    background-color: transparent;
    border: #bcbdbf;
}